nav.navbar.navbar-default {
  margin-bottom: 0;
  border-bottom: 5px;
  border-color: black;
  border-style: solid;
  height: 15vh;
  background-color: cadetblue;
  color: #c2b53d;
}
.header {
  font-family: monospace;
  font-size: 50px;
  text-align: center;
  margin: 0px;
  color: gray;
}
.subheader {
  font-family: monospace;
  text-align: center;
  color: azure;
}

.navbar {
  background-color: #2c2c2b;
}

.nav-text {
  font-family: monospace;
  text-align: center;
  color: azure;
}
