.footer {
  min-height: 100px;
  background: grey;
  position: relative;
}

.footer span {
  text-align: center;
  color: grey;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #2c2c2b;
}
